@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

/* layout global */

.header,
.footer,
main {
    border: 1px solid rgb(176, 176, 180);
    padding: 1rem;
}

body {
    height: 100vh;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

main {
    /* Definimos el display para tener gap */
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu.full-menu {
    display: none;
}

menu.mobile-menu {
    width: 2.5rem;
}

menu {
    color: var(--color-primary);
    list-style: none;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.footer {
    text-align: center;
}

.personal-info {
    .mas-info {
        display: none;
    }

    footer {
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
        svg {
            width: 3rem;
            fill: var(--color-primary);
        }
    }
}

.projects {
    header,
    article {
        margin-block: 1rem;
    }
}

.articles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

@media (width > 430px) {
    menu.full-menu {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        a {
            border: 1px solid ghostwhite;
            display: block;
            padding: 0.5rem 1rem;
            /* transition-property: all;
            transition-duration: 1s;
            transition-delay: 1s;
            transition-timing-function: linear */
            transition: all 0.3s ease-in-out;
        }
        a:hover {
            /* font-size: var(--size-large);
            padding: 0.2rem 0.5rem; */
            border: 1px solid rgb(144, 144, 152);
            transform: scale(1.2);
        }
    }

    menu.mobile-menu {
        display: none;
    }
}

@media (width > 500px) {
    .personal-info {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & > p {
            padding-inline-end: 1rem;
        }
        hgroup {
            grid-column: span 2;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        .mas-info {
            display: initial;
        }
    }
}

/* 
Al usar repeat(auto-fit, minmax(17rem, 1fr)) 
no necesitamos media queries para el grid

@media (width > 550px) {
    .articles-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
} */

/* 
Una media query puede cambiar los valores de una variable root
@media (width > 700px) {
    :root{
        --base: 1.2rem
    }
} */